body {
    margin: 0;
}
nav {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}
#logospacex {
    width: 300px;
    height: auto;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#landingmap {
    width: 50vw;
    height: 50vh;
    
}
.box {
    text-align: center;
}
